Django==2.0.7
django-filter==1.1.0
django-filters==0.2.1
django-webpack-loader==0.6.0
djangorestframework==3.8.2
djangorestframework-filters==0.10.2
psycopg2-binary==2.7.5
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
