{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="form accounts">
        <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'form_template.html' %}
        <div class="form-group">
            <small>By clicking 'Register', you agree to the Terms of Service and Privacy Policy</small><br/><br/>
            <button type="submit" class="btn btn-outline-primary">Register</button>
        </div>
        </form>
    </div>
{% endblock %}